@use '../../assets/mixins.scss' as *;

.service {
    max-width: 600px;
    border-radius: 45px;
    width: 100%; 
    @include border-card;
    &__wrapper {
        padding: 50px;
        @include flex-hybrid(space-between, center);
        &[data-bg-black='true'] {
            .learnMore {
                color: var(--white);
            }
        }
        img {
            max-width: clamp(50%, 30vw ,100%);
        }
    }


    &__text {
        @include flex-dir(column);
        gap: 93px;
        h3 {
            @include flex-dir(column);
        }
        a {
            @include flex-dir(row);
            align-items: center;
            gap: 15px;
        }
        span {
            border-radius: 7px;
            padding: 7px;
            width: fit-content;
        }
    }
}