@use '../../assets/mixins' as *;

.hero {
    &__wrapper {
        padding-top: 70px;
        @include flex-hybrid(space-between, center);
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 600px; 
        h1 {
            font-size: 60px;
            line-height: 100%;
            letter-spacing: 0%;
            font-weight: 500;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0%;
        }
    
    }
    &__img {
        width: 600px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.companies {
    &__wrapper {
        padding-top: 70px;
        @include flex-hybrid(space-around, center);
        //gap: 100px;
        //width: max-content;
        //padding-right: 60px;
        //animation: scrollRight 5s linear infinite;
        
       //&:hover {
       //     animation-play-state: paused;
       // }
    }
    .logo_companies__item {
        // flex-shrink: 0; 
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 150px;
        // width: 280px;
        // padding: 0 80px;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}
// @keyframes scrollRight {
//     0% {
//         transform: translateX(-50%);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }


.proposal {
    padding-top: 120px;
    &__wrapper {
        @include flex-hybrid(space-between, center);
        background-color: var(--grey);
        border-radius: 45px;
        padding: 60px;
        position: relative;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 26px;
        max-width: 500px;
        h1 {
            font-size: 30px;
        }
        
    }
    &__img {
        position: absolute;
        width: 500px;
        height: auto;
        right: 60px;
        img {
               width: 100%;
               height: auto;
               display: block;
        }
    }

}