@mixin flex-hybrid ($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin flex-dir ($dir) {
    display: flex;
    flex-direction: $dir;
}