@use '../../assets/mixins.scss' as *;

.employee {
    max-width: 390px;
    width: 100%;
    border-radius: 45px;
    @include border-card;

    &__wrapper {
        padding: 40px 35px 63px;
        @include flex-dir(column);
        gap: 28px;
    }

    &__top {
        display: grid;
        grid-template-columns: 100px 150px 36px;
        grid-template-rows: 1fr 1fr;
        gap: 0 10px;
        img {
            grid-row: span 2;
        }
        div {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        a {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        &:not(:last-child) {
            padding-bottom: 28px;
            border-bottom: 1px solid var(--black);
        }

        
    }
}