@use '../../assets/mixins.scss' as *;

.footer {
    padding-top: 140px;
    &__wrapper {
        padding: 60px;
        background-color: var(--dark); 
        border-radius: 45px 45px 0 0; 
        color: var(--white); 
    }
   
    &__nav ul {
        display: flex;
        gap: 40px;
        text-decoration: underline;
        list-style: none;
        li a {
            color: var(--white);
        }
    }
    &__top {
        @include flex-hybrid(space-between, center);
    }

    &__socials {
        display: flex;
        gap: 20px;
        a {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: translateY(-2px); 
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
            }
        }
        
    }

    &__middle {
        padding-top: 65px;
        @include flex-hybrid(space-between, none);
        padding-bottom: 50px;
        
    }
    &__contact {
        @include flex-dir(column);
        gap: 27px;
        h2 {
            max-width: 130px;
            color: var(--black);
            font-size: 20px;
        }
    }


    &__subscribe {
        background-color: var(--dark-gray);
        @include flex-hybrid(space-around, center);
        gap: 20px;
        padding: 58px 40px;
        input {
            max-width: 285px;
            padding: 22px 35px;
            border: 1px solid var(--white);
            border-radius: 14px;
        }
    }

    &__lineSeparator {
        width: 100%;
        background-color: var(--white);
        height: 1px;
        border: none;
    }
    &__license {
        padding-top: 50px;
        display: flex;
        gap: 40px;
        a {
            text-decoration: underline;
            color: var(--white);
        }
    }
}