@mixin flex-hybrid ($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin flex-dir ($dir) {
    display: flex;
    flex-direction: $dir;
}
@mixin border-card {
    border: 1px solid var(--black);
    border-bottom-width: 5px;
}