@use '../../assets/mixins.scss' as *;

.process {
    background-color: var(--grey);
    border-radius: 45px;
    @include border-card;
    &.open {
        background-color: var(--accent);
    }
    &__wrapper {
        padding: 41px 60px;
        @include flex-dir(column);
        &.open { 
            gap: 30px;
        }
    }
    &__top {
        @include flex-hybrid(space-between, center);
        button {
            border-radius: 50%;
            width: clamp(30px, 3vw, 58px);
            height: clamp(30px, 3vw, 58px);
            border: 1px solid var(--black);
            background-color: var(--grey);
            h1 {
                font-size: clamp(13px,3vw ,40px)
            }

           
        }
    }
    &__title {
        @include flex-hybrid(none, center);
        gap: 25px;
    }
    &__bottom {
        &.open {
        border-top: 1px solid var(--black);
        padding-top: 30px;
        }
    }
    &__collapse {
        height: 0;
        overflow: hidden;
        transition: height 0.3;
        &.open {
            height: auto;
        }
    }
    &_btn {
        position: relative;
        h1 {
            bottom: 10px;
        }
    }
}


@media screen   
and (max-width: 768px){
    .process {
        &__title {
            h3 {
                font-size: 18px;
            }
        }
    }

}