@use '../../assets/mixins' as *;

.hero {
    &__wrapper {
        padding-top: 70px;
        @include flex-hybrid(space-between, center);
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 600px; 
        h1 {
            font-size: 80px !important;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0%;
        }
    
    }
    &__img {
        max-width: 600px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        &_mobile {
            display: none;
        }
    }
}

.companies {
    &__wrapper {
        padding: 70px 0;
        @include flex-hybrid(space-around, center);
        flex-wrap: wrap;
        gap: 20px;

    }
    .logo_companies__item {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}


.proposal {
    padding: 50px 0 70px;
    @include fade-in-left(20%, 50%);
    &__wrapper {
        @include flex-hybrid(space-between, center);
        background-color: var(--grey);
        border-radius: 45px;
        padding: 60px;
        position: relative;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 26px;
        max-width: 500px;
        h1 {
            font-size: 30px;
        }
        
    }
    &__img {
        position: absolute;
        max-width: 500px;
        height: auto;
        right: 60px;
        img {
               width: 100%;
               height: auto;
               display: block;
        }
    }
}

.services, .team {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    &__btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}


.process {
    @include flex-dir(column);
    gap: 30px;
}


.swiper_reviews {
    background-color: var(--black);
    border-radius: 45px;
    padding: 84px 0 68px;
    width: 100%;

    :global {
        .swiper {
            width: 100%;
            overflow: hidden; 
        }

        .swiper-wrapper {
            display: flex; 
            flex-direction: row !important;
        }

        .swiper-slide {
            flex-shrink: 0;
            height: auto;
        }
    }
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 520px;
        width: 100%;
    }
    &__customPagination {
            display: flex;
            gap: 10px;             
            align-items: center;  
    }
    &__starBullet {
        opacity: 0.1;  
    }
}
:global(.swiper-pagination-bullet-active).controls__starBullet {
    opacity: 1;              
}


@media screen  
and (max-width: 1300px)  
and (min-width: 768px) {
    .hero {
        &__text {
            max-width: 50%;
        }
    }
}

@media screen
and (max-width: 768px) {
    .hero {
        @include flex-hybrid(center, center);
        &__text {
            align-items: center;
        }
        &__img {
            &_desktop {
                display: none;
            }
            &_mobile {
                display: flex;
                max-width: 365px;
            }
        }
    }

    .proposal {
        &__img {
            display: none;
        }
    }
    .controls {
        padding: 0 30px;
    }
}
